@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../static/font.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


/*跳转动画相关*/

.right-leave-active,
.right-enter-active {
  transition: all .3s
}


.right-leave-active {
    transform: translateX(100%);
}

.right-enter-active{
    opacity: 1;

}

.right-enter{
    opacity: 0;

}



.left-leave-active,
.left-enter-active {
  transition: all .3s; 

}

.left-enter-active{
    opacity:1;
    transform: translateX(0px);
}

.left-enter{
    opacity: 1;
    transform: translateX(100%);
}

.left-leave-active {
  opacity: 0
}


.fade-leave-active,
.fade-enter-active {
  transition: all .3s
}


.fade-leave-active {
    opacity: 0;
}

.fade-enter-active{
    opacity: 1;
}

.fade-enter{
    opacity: 0;
}

.reveal-leave-active,
.reveal-enter-active {
  transition: all .25s ease
}



.reveal-enter-active{
    transform: translateY(0px);
}

.reveal-enter{
    transform: translateY(100%);
}

.reveal-leave-active{
    opacity:1;
    transform: translateY(100%);
}



.white{
    color:white;
}




