/*跳转动画相关*/

.right-leave-active,
.right-enter-active {
  transition: all .3s
}


.right-leave-active {
    transform: translateX(100%);
}

.right-enter-active{
    opacity: 1;

}

.right-enter{
    opacity: 0;

}



.left-leave-active,
.left-enter-active {
  transition: all .3s; 

}

.left-enter-active{
    opacity:1;
    transform: translateX(0px);
}

.left-enter{
    opacity: 1;
    transform: translateX(100%);
}

.left-leave-active {
  opacity: 0
}


.fade-leave-active,
.fade-enter-active {
  transition: all .3s
}


.fade-leave-active {
    opacity: 0;
}

.fade-enter-active{
    opacity: 1;
}

.fade-enter{
    opacity: 0;
}

.reveal-leave-active,
.reveal-enter-active {
  transition: all .25s ease
}



.reveal-enter-active{
    transform: translateY(0px);
}

.reveal-enter{
    transform: translateY(100%);
}

.reveal-leave-active{
    opacity:1;
    transform: translateY(100%);
}



.white{
    color:white;
}




